<div class="card_viwe">
  <div id="card">
    <h2 id="title">{{blog.title}}</h2>
    <img src="{{blog.img_url}}" />
    <p id="post_content">
      {{blog.contents}}
    </p>
    <h6></h6>
  </div>
</div>
