{{> not-admin-header}}

<main>

  <section>
    <h1>Publish your passions, your way</h1>
    <p>
      Create a unique and beautiful blog. It’s easy and free.
    </p>
  </section>

  {{#each blogs}}
    <div class="card_viwe">
      <div id="card">
        <div id="img">
          <img src="{{this.img_url}}" />
        </div>
        <div id="content">
          <h2 id="title"><a href="/blogs/{{this.id}}">{{this.title}}</a></h2>
          <p id="post_content">
            {{getFirstFewLetters this.contents}}
          </p>
          <h6></h6>
        </div>
      </div>
    </div>
  {{/each}}
</main>
