<nav>
  <div class="nav-wrapper">
    <div id="mena">
      <a href="#" class="brand-logo" id="username">USER</a>
      <a href="/NewBlog" class="brand-logo" id="add_post">new post</a>
    </div>
    <a href="/logout" class="brand-logo" id="logout">logout</a>
  </div>
</nav>
