<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />

<nav>
  <div class="nav-wrapper">
    <div id="mena">
      <!-- <a href="#" class="brand-logo" id="username">USER</a> -->
      <a href="/blogs/add" class="brand-logo" id="add_post"><i class='fa fa-plus'></i> &nbsp;&nbsp;new post</a>
    </div>
    <a href="/logout" class="brand-logo" id="logout">logout</a>
  </div>
</nav>
